@model SRM_MVC.Models.Courses

@{
    ViewData["Title"] = "Get";
    Layout = "~/Views/Shared/AdminDashBoard.cshtml";
}

<h1>Get</h1>

<div>
    <h4>Courses</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
